<form [formGroup]="setupForm" class="signin-container">
    <div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>{{'SETUP.INCOME' | translate}}</mat-label>
                <input formControlName="income" matInput type="number" required>
                <mat-error *ngIf="setupForm.controls.income.invalid">{{msg.getErrorMessage(setupForm.controls.income)}}
                </mat-error>
            </mat-form-field>
        </div>

        <div class="rooms" formArrayName="rooms">
            <fieldset [formGroupName]="i" *ngFor="let room of getRoomsControls(); let i = index">
                <legend>{{'GENERAL.ROOM.sg' | translate | uppercase}}</legend>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>{{'GENERAL.DESCRIPTION.sg' | translate | titlecase}}</mat-label>
                        <input formControlName="type" matInput type="text" required>
                        <mat-error *ngIf="room.controls.type.invalid">{{msg.getErrorMessage(room.controls.type)}}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>{{'SETUP.ROOM_TIME' | translate | titlecase}}</mat-label>
                        <input formControlName="minutes" matInput type="number" required>
                        <mat-error *ngIf="room.controls.minutes.invalid">{{msg.getErrorMessage(room.controls.minutes)}}
                        </mat-error>
                    </mat-form-field>
                </div>

                <button [disabled]="getRoomsControls().length == 1" mat-raised-button
                    (click)="removeRoom(i)">{{'SETUP.REMOVE_ROOM' | translate}}</button>
            </fieldset>
        </div>
    </div>
</form>
<div class="d-flex--justify_between mtb--small">
    <button mat-button (click)="onNoClick()">{{'GENERAL.CLOSE' | translate}}</button>
    <button [disabled]="setupForm.invalid" mat-raised-button (click)="onOkClick()" cdkFocusInitial>Ok</button>
</div>
<div>
    <button mat-raised-button (click)="addRoom()">{{'SETUP.ADD_ROOM' | translate}}</button>
</div>