<mat-card>
    <mat-card-header>
        <div *ngIf="!auth.user">
           <p>You are currently not signed in.</p>
           <p>Press <button mat-raised-button (click)="auth.openSignIn()">Sign In</button> to procced with authentication.</p>
           <p>Press <button mat-raised-button (click)="auth.openSignUp()">Sign Up</button> to proccesd with registration.</p>
        </div>
    </mat-card-header>
    <mat-card-content>
        
    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
    <mat-card-footer>

    </mat-card-footer>
</mat-card>