<mat-card>
    <mat-card-header>

    </mat-card-header>
    <mat-card-content>
        <div *ngIf="profile">
            <p><b>Income per hour</b> : {{profile.income}} €</p>
            <fieldset *ngFor="let room of profile.rooms; let i = index">
                <legend>Room</legend>
                <p><b>Description</b> : {{room.type}}</p>
                <p><b>Time to finish</b> : {{room.minutes}} minutes</p>
            </fieldset>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="editProfile()">Edit Profile</button>
    </mat-card-actions>
    <mat-card-footer>

    </mat-card-footer>
</mat-card>