<mat-card *ngIf="profile">
    <mat-card-header>

    </mat-card-header>
    <mat-card-content>
        <p>Income: {{profile.income}}</p>
        <div *ngFor="let room of profile.rooms; let i = index">
           <p>Room Type: {{room.type}}</p>
           <p>Room Minutes {{room.minutes}}</p>

        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="openSetup()" >Edit Profile</button>
    </mat-card-actions>
    <mat-card-footer>

    </mat-card-footer>
</mat-card>