<mat-card>
    <mat-card-header>
        <p>{{auth.user?.email}}</p>
    </mat-card-header>
    <mat-card-content>
        <div *ngFor="let submitWork of submitWorks">
           <fieldset>
               <legend> {{submitWork.date}} </legend>
               <div><b>Worked time</b> : {{submitWork.workTime}} hours</div>
               <div *ngFor="let roomCount of submitWork.roomsCount">
                    <b>{{roomCount.room.type}}</b> : {{roomCount.count}} times
               </div>
               <div><b>Allocated Worked time</b> : {{getAllocWorkTime(submitWork)}}</div>
           </fieldset>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button *ngIf="profile" mat-raised-button (click)="openSubmitWork()">Add work day</button>
        <button *ngIf="!profile" mat-raised-button routerLink="/profile">Add Profile</button>
    </mat-card-actions>
    <mat-card-footer>

    </mat-card-footer>
</mat-card>