<mat-card>
    <mat-card-header>
        <p>{{auth.user?.email}}</p>
    </mat-card-header>
    <mat-card-content>
        <div *ngFor="let submitWork of submitWorks">
            <fieldset>
                <legend> {{submitWork.date}} </legend>
                <div>
                    <b>{{'DASHBOARD.PHYSICAL_WORKED_TIME' | translate}}</b> :
                    <b>&nbsp;{{submitWork.workTime}}&nbsp;</b>
                    <span *ngIf="submitWork.workTime <= 1">{{ 'GENERAL.HOUR.sg' | translate}}</span>
                    <span *ngIf="submitWork.workTime > 1">{{ 'GENERAL.HOUR.pl' | translate}}</span>
                </div>
                <div *ngFor="let roomCount of submitWork.roomsCount">
                    <b>{{'GENERAL.ROOM.sg' | translate | titlecase}} {{roomCount.room.type | titlecase }} : {{roomCount.count}}</b>
                    <span>&nbsp;{{'DASHBOARD.TIMES' | translate}}&nbsp;</span>
                    <b>{{roomCount.room.minutes}}</b>
                    <span *ngIf="roomCount.room.minutes > 1">&nbsp;{{'GENERAL.MINUTE.pl' | translate}}&nbsp;</span>
                    <span *ngIf="roomCount.room.minutes <= 1">&nbsp;{{'GENERAL.MINUTE.sg' | translate}}&nbsp;</span>
                    <b>=></b>
                    <b>&nbsp;{{roomCount.room.minutes * roomCount.count}}&nbsp;</b>
                    <span *ngIf="roomCount.room.minutes * roomCount.count > 1">{{'GENERAL.MINUTE.pl' |
                        translate}}</span>
                    <span *ngIf="roomCount.room.minutes * roomCount.count <= 1">{{'GENERAL.MINUTE.sg' |
                        translate}}</span>
                </div>
                <div>
                    <b>{{'DASHBOARD.ROOMS_BASED_WORKED_TIME' | translate}}</b> :
                    <b>&nbsp;{{getRoomsBasedWorkedHours(submitWork)}}&nbsp;</b>
                    <span *ngIf="getRoomsBasedWorkedHours(submitWork) <= 1">&nbsp;{{ 'GENERAL.HOUR.sg' |    translate}}&nbsp;</span>
                    <span *ngIf="getRoomsBasedWorkedHours(submitWork) > 1">&nbsp;{{ 'GENERAL.HOUR.pl' | translate}}&nbsp;</span>
                    <span *ngIf="getRoomsBasedWorkedRest(submitWork) > 0">
                        <span>&nbsp;{{'GENERAL.AND' | translate}}&nbsp;</span>
                        <b>&nbsp;{{getRoomsBasedWorkedRest(submitWork)}}&nbsp;</b>
                        <span *ngIf="getRoomsBasedWorkedRest(submitWork) > 1">{{'GENERAL.MINUTE.pl' | translate}}</span>
                        <span *ngIf="getRoomsBasedWorkedRest(submitWork) <= 1">{{'GENERAL.MINUTE.sg' | translate}}</span>
                    </span>
                </div>
            </fieldset>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button *ngIf="profile" mat-raised-button (click)="openSubmitWork()">{{'DASHBOARD.ADD_WORK_DAY' | translate}}</button>
        <button *ngIf="!profile" mat-raised-button routerLink="/profile">{{'DASHBOARD.ADD_PROFILE' | translate}}</button>
    </mat-card-actions>
    <mat-card-footer>

    </mat-card-footer>
</mat-card>